@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+NP+Hmong:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind utilities;
@tailwind components;

@layer components {
    body {
        @apply dark:bg-gradient-to-b from-[#222327] to-blue-500
    }

    .divMain {
        @apply shadow-md w-[90vw] my-8 mx-auto p-4 rounded-xl bg-[#f0f8ff70] dark:bg-black/[.65]
    }

    .divMain h1 {
        @apply ml-4 text-4xl font-semibold max-w-xs border-b-2
    }

    /* Login - CreateAccount */
    form > button,
    .btn {
        @apply py-2 rounded-2xl border-none text-lg text-white w-[50%] mx-auto font-bold
    }

    .register-container {
        @apply w-[90vw] shadow-md max-w-3xl rounded-xl bg-[#f0f8ff70] dark:bg-black/[70%] p-4 min-h-[60vh]
    }

    .register-header {
        @apply max-w-xl w-[80%] mx-auto flex justify-center items-center mb-12 border-b-2 rounded-2xl border-[#111218] dark:border-whiteModified
    }


    /* Modal */
    .modalExterior {
        @apply bg-white/25 dark:bg-black/[35%] fixed top-0 bottom-0 right-0 left-0
    }

    .modalInterior {
        @apply w-[90%] max-w-[800px] bg-slate-200 dark:bg-slate-800 p-2 rounded-2xl m-auto min-h-[300px] max-h-[600px] flex items-center justify-center absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] border border-[#F50057] dark:border-blue-400
    }

    .modalIconClose {
        @apply duration-200 hover:fill-black/60 dark:fill-white dark:hover:fill-white/80 cursor-pointer absolute top-2 right-2 text-4xl
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif NP Hmong', serif;
}

body {
    /* Melhora a renderização no Chrome */
    --webkit-font-smoothing: antialiased;

    /* https://cssgradient.io/ */
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #EA3579 0%, #97D9E1 100%);

    height: 100vh;
    overflow-y: hidden;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

ul {
    list-style: none;
}

/* Input Number */
/* Chrome, Safari, Edge, Opera */
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */
/* Firefox */
/* input[type=number] {
    -moz-appearance: textfield;
} */

/* Input Radio */
input[type=radio] {
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 0.5rem;
    outline: 1px solid #999;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 50%;
    background: #e8e8e8;
    border: 3px solid #FFF;
    cursor: pointer;
}

input[type=radio]:hover {
    outline-color: #ff5722;
}

input[type=radio]:checked {
    outline-color: #ff5722;
    background-color: #ff5722;

    animation: outline-checked;
    animation-duration: 0.1s;
    animation-iteration-count: 4;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes outline-checked {
    0% {
        outline-offset: 0;
    }

    100% {
        outline-offset: -0.2rem;
    }
}