@tailwind base;
@tailwind utilities;
@tailwind components;

@layer components {
    /* DASHBOARD */
    .nav {
        @apply bg-[#f0f8ff70] dark:bg-black/[.65] shadow-lg border-b-2 border-white/[.09] gap-8
    }

    .nav-icon {
        @apply relative flex items-center justify-center text-2xl h-12 w-12 shadow-lg cursor-pointer bg-gray-800 text-green-500 hover:bg-green-600 hover:text-white rounded-3xl hover:rounded-xl transition-all duration-300 ease-linear
    }

    .nav-icon.active {
        @apply bg-gray-500 text-green-700
    }

    #sidebar-logout {
        @apply text-red-500 mb-8 mt-8
    }

    #sidebar-cart {
        @apply text-purple-400
    }

    #sidebar-cart-tooltip {
        @apply text-purple-400
    }

    #sidebar-print {
        @apply text-yellow-400
    }

    #sidebar-print-tooltip {
        @apply text-yellow-200
    }

    #headbar-logout {
        @apply text-red-500 mr-12
    }

    #sidebar-logout-tooltip {
        @apply text-red-500
    }

    #sidebar-setting {
        @apply text-gray-400 self-end
    }
    
    .sidebar-tooltip {
        @apply absolute w-auto p-2 m-5 min-w-max left-16 rounded-md shadow-md text-white bg-black/[.9] text-xs font-bold transition-all duration-100 origin-left scale-0
    }

    .headerbar-tooltip {
        @apply absolute w-auto p-2 m-5 min-w-max top-16 rounded-md shadow-md text-white bg-black/[.9] text-xs font-bold transition-all duration-100 origin-left scale-0
    }
}